.__fb-dark-mode .hop1g133 .hybvsw6c, .__fb-dark-mode .nred35xi {
  --surface-background: #18191A !important;
  --messenger-card-background: #18191A !important;
}

.__fb-dark-mode svg.hwsy1cff, .__fb-dark-mode svg.a8c37x1j {
  fill: white !important;
}
